@media screen and (min-width: 993px) {
  //--------------------HEADER--------------------//

  .header {
    &__bar {
      background: transparent;
      padding: 30px 16px;
    }

    &__logo:hover {
      cursor: pointer;

      & .header__logo-bg {
        background: url("../img/logos/header-logo-sprites.png") -10px -10px;
        transform: rotate(-360deg);
        transition: 0.5s;
      }

      & .header__logo__text {
        color: white;
        text-decoration: none;
        transition: all 1s;
      }
    }

    &-btn:hover {
      background-color: white;
      color: #8d81ac;
      border: 2px solid #8d81ac;
    }

    .buy-now {
      font-size: 16px;
      line-height: 16px;
    }
  }

  //--------------------NAVBAR--------------------//

  .nav {
    position: inherit;
    width: auto;
    padding: 12px 0;
    margin: 0 43px 0 auto !important;

    &__item {
      margin: 0 23px;
    }

    &__link {
      &:hover {
        transition: all 1s;
      }
    }
  }
  //--------------------Main--------------------//
  //---------------Revolutionary editor-----------//

  .review p {
    max-width: 860px;
    margin: 0 auto;
  }

  .advantages {
    background: $advantagesBackground;
    .advantages-box {
      margin: 0 auto;
      max-width: 1260px;
      display: grid;
      grid-column-gap: 50px;
      grid-template-columns: 560px 1fr;
      grid-template-rows: 60px 1fr;
      grid-template-areas:
        "content title"
        "content img";
      h4 {
        text-align: left;
        grid-area: title;
      }
      .advantages-box-content {
        grid-area: content;
        .advantages-box-item {
          padding: 25px 0;
          &:first-of-type {
            padding-top: 0;
          }
        }
      }
    }
    &__img {
      grid-area: img;
      margin-left: 0;
      background-size: 700px 520px;
      background-position: left;
    }
  }
  //------------------talking about fork----------//
  .talking-about-fork__title {
    padding-top: 110px;
    font-size: 48px;
  }

  //---------Fork Subscription Pricing-------------//
  .price-box {
    min-width: 1150px;
    margin: 0 auto;
  }
}
