html, body, .wrapper {
  width: 100%;
  min-width: 320px;
  height: 100%;
  margin: 0 auto;
}

.width-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
  box-sizing: border-box;
}

.header-btn {
  color: white;
  position: relative;
}
.header-btn:focus {
  outline: none;
}
.header-btn:active {
  top: 2px;
  box-sizing: border-box;
  border: 2px solid #8D81AC;
  box-shadow: inset 0 -1px 1px rgba(0, 0, 0, 0.1), inset 0 1px 2px rgba(0, 0, 0, 0.3), inset 0 0 0 60px rgba(68, 49, 69, 0.45);
  outline: none;
}

.header__bar__btn-bars {
  color: white;
  font-size: 21px;
  background: none;
  border: none;
  width: 28px;
}
.header__bar__btn-bars:focus {
  outline: none;
}

.header-btn {
  background-color: #8D81AC;
  border: 2px solid transparent;
  border-radius: 40px;
  font-weight: bold;
  line-height: 0;
  box-sizing: border-box;
}

.buy-now {
  font-size: 15px;
  padding: 12px 20px;
}

.download-btn {
  font-size: 18px;
  padding: 24px 29px;
}

.header {
  font-family: Montserrat, sans-serif;
}
.header__container {
  position: relative;
  background-color: black;
  background-image: url("../img/header/header-backgroung.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
}
.header-background__container {
  background-image: url("../img/header/header-backgroung.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 1200px;
  margin: 0 auto;
}
.header__bar {
  display: flex;
  justify-content: space-between;
  background-color: #27262A;
  padding: 33px 16px;
}
.header__logo-bg {
  display: block;
  float: left;
  width: 43px;
  height: 41px;
  background: url("../img/logos/header-logo-sprites.png") -73px -10px;
}
.header__logo__text {
  display: none;
  font-family: Lato, sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 16px;
  text-transform: uppercase;
  color: #8D81AC;
  margin: 12px 17px;
}
.header__description {
  text-align: center;
  height: 692px;
}
.header__title {
  font-weight: bold;
  font-size: 48px;
  line-height: 48px;
  color: #FFFFFF;
  padding-top: 50px;
}
.header__subtitle {
  font-size: 18px;
  line-height: 24px;
  color: #8D81AC;
  padding-top: 19px;
}
.header__subtitle__ver {
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: #848E97;
  padding-top: 14px;
}
.header__download {
  position: relative;
  text-align: center;
  bottom: 28px;
}
.header__download > p {
  margin: 13px 0 28px 0;
  text-align: center;
}

.nav {
  position: absolute;
  text-align: center;
  width: 100%;
  top: 107px;
  right: 0;
  left: 0;
  margin: 0 auto;
}
.nav__list {
  display: flex;
  flex-direction: column;
  background-color: #333333;
  list-style: none;
  width: 100%;
  padding: 0;
  margin: 0 15px;
}
.nav__item {
  display: inline-block;
  text-align: left;
  padding: 29px 0 21px 35px;
}
.nav__link {
  text-align: left;
  text-decoration: none;
  font-size: 26px;
  line-height: 26px;
  color: #FFFFFF;
  border-bottom: 3px solid #383d41;
  width: 100%;
  height: 100%;
}
.nav__link:hover {
  text-decoration: none;
  color: #FFFFFF;
}
.nav__link:focus {
  color: #8D81AC;
  position: relative;
}
.nav__link:focus::before {
  display: block;
  position: absolute;
  content: "";
  border-top: 53px solid #8D81AC;
  width: 8px;
  left: -35px;
  top: -11px;
}

.hide {
  display: none;
}

@media screen and (min-width: 481px) {
  .header__bar {
    padding: 24px 20px 42px;
  }
  .header__bar__btn-bars {
    display: none;
  }
  .header__logo__text {
    display: inline-block;
  }
  .header__title {
    font-size: 72px;
    line-height: 72px;
  }
  .header__subtitle {
    font-family: Lato, sans-serif;
    font-size: 24px;
    line-height: 24px;
  }
  .header__download {
    bottom: 34px;
  }
  .header__download > p {
    margin-top: 28px;
  }

  .download-btn {
    font-size: 21px;
    padding: 31px 61px;
  }

  .nav {
    display: inline-block;
    margin: 0 auto;
    padding: 0;
    top: 75px;
  }
  .nav__list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
    background-color: transparent;
  }
  .nav__item {
    border: none;
    padding: 0;
    margin: 0 2vw;
  }
  .nav__link {
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
    color: #8D81AC;
    text-align: center;
  }
  .nav__link:focus {
    color: white;
    padding-bottom: 7px;
    border-bottom: 4px solid white;
  }
  .nav__link:focus::before {
    display: none;
  }

  .talking-about-fork__title {
    font-size: 42px;
    padding-top: 80px;
  }
}
@media screen and (min-width: 993px) {
  .header__bar {
    background: transparent;
    padding: 30px 16px;
  }
  .header__logo:hover {
    cursor: pointer;
  }
  .header__logo:hover .header__logo-bg {
    background: url("../img/logos/header-logo-sprites.png") -10px -10px;
    transform: rotate(-360deg);
    transition: 0.5s;
  }
  .header__logo:hover .header__logo__text {
    color: white;
    text-decoration: none;
    transition: all 1s;
  }
  .header-btn:hover {
    background-color: white;
    color: #8D81AC;
    border: 2px solid #8D81AC;
  }
  .header .buy-now {
    font-size: 16px;
    line-height: 16px;
  }

  .nav {
    position: inherit;
    width: auto;
    padding: 12px 0;
    margin: 0 43px 0 auto !important;
  }
  .nav__item {
    margin: 0 23px;
  }
  .nav__link:hover {
    transition: all 1s;
  }

  .talking-about-fork__title {
    padding-top: 110px;
    font-size: 48px;
  }
}
.header-btn {
  color: white;
  position: relative;
}
.header-btn:focus {
  outline: none;
}
.header-btn:active {
  top: 2px;
  box-sizing: border-box;
  border: 2px solid #8D81AC;
  box-shadow: inset 0 -1px 1px rgba(0, 0, 0, 0.1), inset 0 1px 2px rgba(0, 0, 0, 0.3), inset 0 0 0 60px rgba(68, 49, 69, 0.45);
  outline: none;
}

.header__bar__btn-bars {
  color: white;
  font-size: 21px;
  background: none;
  border: none;
  width: 28px;
}
.header__bar__btn-bars:focus {
  outline: none;
}

.header-btn {
  background-color: #8D81AC;
  border: 2px solid transparent;
  border-radius: 40px;
  font-weight: bold;
  line-height: 0;
  box-sizing: border-box;
}

.buy-now {
  font-size: 15px;
  padding: 12px 20px;
}

.download-btn {
  font-size: 18px;
  padding: 24px 29px;
}

.nav {
  position: absolute;
  text-align: center;
  width: 100%;
  top: 107px;
  right: 0;
  left: 0;
  margin: 0 auto;
}
.nav__list {
  display: flex;
  flex-direction: column;
  background-color: #333333;
  list-style: none;
  width: 100%;
  padding: 0;
  margin: 0 15px;
}
.nav__item {
  display: inline-block;
  text-align: left;
  padding: 29px 0 21px 35px;
}
.nav__link {
  text-align: left;
  text-decoration: none;
  font-size: 26px;
  line-height: 26px;
  color: #FFFFFF;
  border-bottom: 3px solid #383d41;
  width: 100%;
  height: 100%;
}
.nav__link:hover {
  text-decoration: none;
  color: #FFFFFF;
}
.nav__link:focus {
  color: #8D81AC;
  position: relative;
}
.nav__link:focus::before {
  display: block;
  position: absolute;
  content: "";
  border-top: 53px solid #8D81AC;
  width: 8px;
  left: -35px;
  top: -11px;
}

@media screen and (min-width: 481px) {
  .header__bar {
    padding: 24px 20px 42px;
  }
  .header__bar__btn-bars {
    display: none;
  }
  .header__logo__text {
    display: inline-block;
  }
  .header__title {
    font-size: 72px;
    line-height: 72px;
  }
  .header__subtitle {
    font-family: Lato, sans-serif;
    font-size: 24px;
    line-height: 24px;
  }
  .header__download {
    bottom: 34px;
  }
  .header__download > p {
    margin-top: 28px;
  }

  .download-btn {
    font-size: 21px;
    padding: 31px 61px;
  }

  .nav {
    display: inline-block;
    margin: 0 auto;
    padding: 0;
    top: 75px;
  }
  .nav__list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
    background-color: transparent;
  }
  .nav__item {
    border: none;
    padding: 0;
    margin: 0 2vw;
  }
  .nav__link {
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
    color: #8D81AC;
    text-align: center;
  }
  .nav__link:focus {
    color: white;
    padding-bottom: 7px;
    border-bottom: 4px solid white;
  }
  .nav__link:focus::before {
    display: none;
  }

  .talking-about-fork__title {
    font-size: 42px;
    padding-top: 80px;
  }
}
@media screen and (min-width: 993px) {
  .header__bar {
    background: transparent;
    padding: 30px 16px;
  }
  .header__logo:hover {
    cursor: pointer;
  }
  .header__logo:hover .header__logo-bg {
    background: url("../img/logos/header-logo-sprites.png") -10px -10px;
    transform: rotate(-360deg);
    transition: 0.5s;
  }
  .header__logo:hover .header__logo__text {
    color: white;
    text-decoration: none;
    transition: all 1s;
  }
  .header-btn:hover {
    background-color: white;
    color: #8D81AC;
    border: 2px solid #8D81AC;
  }
  .header .buy-now {
    font-size: 16px;
    line-height: 16px;
  }

  .nav {
    position: inherit;
    width: auto;
    padding: 12px 0;
    margin: 0 43px 0 auto !important;
  }
  .nav__item {
    margin: 0 23px;
  }
  .nav__link:hover {
    transition: all 1s;
  }

  .talking-about-fork__title {
    padding-top: 110px;
    font-size: 48px;
  }
}

/*# sourceMappingURL=styles.css.map */
